<%= form_for @information_request do |f| %>
  <% if @information_request.errors.any? %>
    <div class="errors-dialogue">
      This couldn't be completed because there are <%= pluralize(@information_request.errors.count, "error") %>.  Please correct these errors below, then resubmit your form.
      <ul>
        <% @information_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="item-properties">
    <div class="item-header" id="target_date">
      <div class="item-header-icon">
        <i class="far fa-calendar-alt"></i>
      </div>
      <%=
        f.label :target_date,
        'Answer Required By',
        class: 'item-header-text'
      %>
    </div>
    <%=
      f.text_field :target_date,
      class: 'form-input',
      placeholder: 'Enter the date you need an answer by',
      onfocus: "darkLabel('#target_date')",
      onblur: "lightLabel('#target_date')",
      data: {
        provide: 'datepicker',
        'date-format' => 'yyyy-mm-dd',
        'date-autoclose' => 'true'
      }
    %>
    <div class="item-header" id="target_date">
      <div class="item-header-icon">
        <i class="far fa-dot-circle"></i>
      </div>
      <%=
        f.label :area,
        'Work Area',
        class: 'item-header-text'
      %>
    </div>
    <%=
      f.select :area, 
      @work_areas,
      {include_blank: 'Select work area'},
      {class: 'form-input'}
    %>
    <div class="item-header" id="target_date">
      <div class="item-header-icon">
        <i class="far fa-user"></i>
      </div>
      <%=
        f.label :client_team_member_id,
        'Send RFI To',
        class: 'item-header-text'
      %>
    </div>
    <%=
      f.collection_select :client_team_member_id,
      @client_team_members,
      :id,
      :full_name,
      {
        selected: @information_request.client_team_member_id.to_i,
        include_blank: 'Select client team member'
      },
      {class: 'form-input'}
    %>
    <div class="item-header" id="target_date">
      <div class="item-header-icon">
        <i class="far fa-file-alt"></i>
      </div>
      <%=
        f.label :client_document_id,
        'Client Document',
        class: 'item-header-text'
      %>
    </div>
    <%=
      f.collection_select :client_document_id,
      @client_documents,
      :id,
      :document_name,
      {
        selected: @information_request.client_document_id.to_i,
        include_blank: 'Select a document'
      },
      {class: 'form-input'}
    %>
    <div class="item-header" id="target_date">
      <div class="item-header-icon">
        <i class="fas fa-tags"></i>
      </div>
      <div class="item-header-text">
        Associated Items
      </div>
    </div>
    <div class="item-associations">
      <%=
        hidden_field_tag "information_request[instrument_ids][]",
        nil
      %>
      <%=
        f.select :instrument_ids,
        @instruments.map{ |i| [i.tag, i.id]},
        {},
        multiple: true,
        class: "form-control"
      %>
      <%=
        hidden_field_tag "information_request[equipment_ids][]",
        nil
      %>
      <%= f.select :equipment_ids,
        @equipment.map{ |i| [i.tag, i.id]},
        {},
        multiple: true,
        class: "form-control"
      %>
      <%=
        hidden_field_tag "information_request[handvalves_ids][]",
        nil
      %>
      <%=
      f.select :handvalve_ids,
        @handvalves.map{ |i| [i.tag, i.id]},
        {},
        multiple: true,
        class: "form-control"
      %>
    </div>
    <div class="item-header" id="target_date">
      <div class="item-header-icon">
        <i class="fas fa-align-justify"></i>
      </div>
      <%=
        f.label :zeton_clarification,
        'Clarification',
        class: 'item-header-text'
      %>
    </div>
    <%=
      f.text_area :zeton_clarification,
        class: 'form-input',
        rows: 5
      %>
    <%=
      f.submit @information_request.new_record? ?
        'Add RFI' :
        'Update RFI',
        class: 'form-submit-button'
      %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#information_request_instrument_ids').select2({
      placeholder: "Select associated instruments"
    });
    $('#information_request_equipment_ids').select2({
      placeholder: "Select associated equipment"
    });
    $('#information_request_handvalve_ids').select2({
      placeholder: "Select associated handvalves"
    });
  });
</script>
