<div class="row pl-5 pr-5 mb-3 mt-5">
  <div class="col-sm-12">
    <h1 class="display-4">
      <%= @information_request.rfi_number %>
    </h1>
    <p class="lead text-muted">
    Created 
    <%= @information_request.created_at.strftime("%b %-d, %Y") %> 
    by <%= @information_request.project.user.full_name %>.
    <% if @information_request.date_sent %>
      Sent to <%= @information_request.client_team_member.full_name %>
      on <%= @information_request.date_sent %>.
    <% elsif @information_request.client_team_member %>
      Not sent yet sent to client.
      <%= link_to 'Send now?',
      send_rfi_path(:rfi => @information_request),
      class: 'text-danger' %>
    <% else %>
        Not sent to client yet. Add client team member below to send RFI.
    <% end %>
    </p>
    <% if @information_request.target_date.present? %>
      <p>
      Response required by <%= @information_request.target_date.strftime(
        "%b %-d, %Y"
      ) %> (
      <%= pluralize days_from_now(@information_request.target_date), 'day' %>
      from now)
      </p>
    <% end %>
    <%= link_to 'Edit RFI',
      edit_information_request_path(@information_request),
      class: 'btn btn-sm btn-outline-primary mr-2 ml-2',
      id: "edit_rfi_#{@information_request.id}" %>
    <%= link_to 'Delete',
      information_request_path(@information_request),
      method: :delete,
      class: 'btn btn-sm btn-outline-danger mr-2 ml-2',
      id: "delete_rfi_#{@information_request.id}" %>
  </div>
</div>
<div class="row pl-5 pr-5">
  <div class="col-sm-12">
    <h3 class="section-title mb-3">
      Client Document
    </h3>
    <div class="card card-box-shadow mb-3 p-4">
      <div class="card-body">
        <% if @information_request.client_document.present? %>
          <div class="row">
            <div class="col-sm-6">
              <dl class="row">
                <dt class="col-sm-4">Document Number</dt>
                <dd class="col-sm-8">
                <%= @information_request.client_document.document_number %>
                </dd>
                <dt class="col-sm-4">Title</dt>
                <dd class="col-sm-8">
                <%= @information_request.client_document.document_name %>
                </dd>
              </dl>
            </div>
            <div class="col-sm-6">
              <dl class="row">
                <dt class="col-sm-4">Revision Number</dt>
                <dd class="col-sm-8">
                <%= @information_request.client_document.document_revision %>
                </dd>
                <dt class="col-sm-4">Section</dt>
                <dd class="col-sm-8">
                <%= @information_request.client_document.document_section %>
                </dd>
              </dl>
            </div>
          </div>
        <% else %>
            No document added
        <% end %>
      </div>
    </div>
    <h3 class="section-title mt-3">
      Associations
    </h3>
    <div class="card card-box-shadow mb-3 p-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="section-sub-title">
                  Instruments
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <% @information_request.instruments.each do |inst| %>
                  <%= link_to inst.tag,
                    instrument_path(inst),
                    class: 'badge badge-pill badge-secondary' %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="section-sub-title">
                  Equipment
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <% @information_request.equipment.each do |equip| %>
                  <%= link_to equip.tag,
                    equipment_path(equip),
                    class: 'badge badge-pill badge-secondary' %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="section-sub-title">
                  Handvalves
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <% @information_request.handvalves.each do |valve| %>
                  <%= link_to valve.tag,
                    handvalve_path(valve),
                    class: 'badge badge-pill badge-secondary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="section-title mt-3">
      Zeton Clarification
    </h3>
    <div class="card card-box-shadow mb-3 p-4">
      <div class="card-body">
        <dl class="row mt-0">
          <dt class="col-sm-2">Work Area</dt>
          <dd class="col-sm-10">
          <%= @information_request.area %>
          </dd>
          <dt class="col-sm-2">Clarification</dt>
          <dd class="col-sm-10">
            <%= @information_request.zeton_clarification %>
          </dd>
        </dl>
      </div>
    </div>
    <h3 class="section-title mt-3">
      Client
    </h3>
    <div class="card card-box-shadow mb-3 p-4">
      <div class="card-body">
        <% if @information_request.client_team_member.present? %>
          <dl class="row mt-0">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">
            <%= @information_request.client_team_member.full_name %>
            </dd>
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">
            <%= @information_request.client_team_member.email %>
            </dd>
            <dt class="col-sm-3">Date sent</dt>
            <dd class="col-sm-9">
            <% if @information_request.date_sent.present? %>
              <%= @information_request.date_sent.strftime("%b %-d, %Y") %>
            <% else %>
              Not yet sent.
              <%=
                link_to 'Click to send now',
                  send_rfi_path(:rfi => @information_request)
              %>
            <% end %>
            </dd>
          </dl>
        <% else %>
          No client team member added
        <% end %>
      </div>
    </div>
    <h3 class="section-title mt-3">
      RFI Responses
    </h3>
    <div class="card card-box-shadow mb-3 p-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <% if @information_request.rfi_responses.any? %>
              <table>
                <col style="width: 100px">
                <col style="width: 80px">
                <col>
                <col style="width: 80px">
                <thead>
                  <tr>
                    <th class="p-3">Date</th>
                    <th class="p-3">From</th>
                    <th class="p-3">Response</th>
                    <th class="p-3"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @information_request.rfi_responses.each do |response| %>
                    <tr class="mt-3">
                      <td class="p-3">
                        <%= link_to response.created_at.strftime("%b %-d, %Y"),
                          rfi_response_path(response) %>
                      </td>
                      <td class="p-3">
                        <%= response.organization %>
                      </td>
                      <td class="p-3">
                        <%= response.response %>
                      </td>
                      <td class="p-3">
                        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe,
                          edit_rfi_response_path(response),
                          id: "edit_rfi_response_#{response.id}" %> | 
                          <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                          rfi_response_path(response),
                          method: :delete,
                          id: "delete_rfi_response_#{response.id}",
                          class: 'text-danger' %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              No responses added yet.
            <% end %>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-sm-12">
          <%= link_to 'Add new response',
        new_rfi_response_path(:rfi => @information_request),
        id: 'new_rfi_response',
        class: 'btn btn-outline-primary btn-sm mr-2' %>
        </div>
      </div>
    </div>
  </div>
</div>
