<div class="section-heading">
  <%= @information_request.rfi_number %>
</div>
<div id="rfi_status_form">
  <%=
    render partial: 'rfi_status_form',
    locals: {
      rfi: @information_request
    }
  %>
</div>
<div class="item-sub-heading">
  <div class="item-sub-heading-icon">
    <i class="fas fa-list-ul"></i>
  </div>
  <div class="item-sub-heading-text">
    Properties
  </div>
</div>
<div class="section-sub-heading">
  Click below to edit, or
  <%=
    link_to 'edit all fields',
      edit_information_request_path(@information_request),
      class: 'table-link',
      id: "edit_rfi_#{@information_request.id}"
  %>
</div>
<div class="item-properties" id="rfi-properties">
  <%= render 'properties' %>
</div>

<div class="item-sub-heading">
  <div class="item-sub-heading-icon">
    <i class="far fa-comments"></i>
  </div>
  <div class="item-sub-heading-text">
    RFI Responses
  </div>
</div>
<div class="section-sub-heading">
  Click below to edit
</div>

<div class="rfi-response" id="rfi-responses">
  <%=
    render partial: 'rfi_responses',
    locals: {
      information_request: @information_request
    }
  %>
</div>

