<div class="row pl-5 pr-5 mb-3 mt-5">
  <div class="col-sm-12">
    <h3>
      Import Equipment from Excel
    </h3>
  </div>
</div>
<div class="row pl-5 pr-5">
  <div class="col-sm-12">
    <div class="card card-box-shadow mb-3">
      <div class="card-body">
        <h5 class="card-title">
          Instructions
        </h5>
        <div class="row">
          <div class="col-sm-12">
            <h6>
              Only import spreadsheets that were previously downloaded
              from your project on Zeton Project Tools
            </h6>
            <p class="card-text">
            Importing an Excel spreadsheet allows for the following:
            </p>
            <ul>
              <li>Updating existing equipment</li>
              <li>Creating new equipment</li>
            </ul>
            <p>
            Equipment in the spreadsheet that have an id (those that were
            downloaded and updated by you) will be updated only.
            </p>
            <p>
            New equipment that you've added to the sheet will be created in
            your project (project <%= current_project.project_number %>).  Note:
            do not add an id to new equipment - these will be added automatically
            on import.
            </p>
            <h5 class="card-title mt-5">
              Requirements
            </h5>
            <p>The following are required for all instruments (whether updating
            or creating new instruments</p>
            <ul>
              <li>An equipment tag</li>
              <li>An equipment description</li>
              <li>An equipment type</li>
            </ul>
            <h5 class="card-title mt-5">
              Add File
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= form_for @project_equipment_import do |f| %>
              <% if @project_equipment_import.errors.any? %>
                <div class="alert alert-warning">
                  <%= pluralize(@project_equipment_import.errors.count, 'error') %> stopped the import from proceeding
                  <ul>
                    <%= @project_equipment_import.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                    <%= f.file_field :file %>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-12">
                    <%= f.hidden_field :project, value: current_project.id %>
                    <%= f.submit "Import XLSX", class: 'btn btn-outline-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
