<%= form_for @client_team_member do |f| %>
  <% if @client_team_member.errors.any? %>
    <div class="alert alert-warning">
      The form contains
      <%=
        pluralize(
          @client_team_member.errors.count,
          "error"
        )
      %>
    </div>
    <ul>
      <% @client_team_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row mb-5 pl-5 pr-5">
    <div class="col-sm-12">
      <div class="card card-box-shadow p-3 mb-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%=
                f.label :first_name,
                class: 'col-sm-4 col-form-label'
              %>
              <div class="col-sm-8">
                <%=
                  f.text_field :first_name,
                    class: 'form-control'
                  %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%=
                f.label :last_name,
                class: 'col-sm-4 col-form-label'
              %>
              <div class="col-sm-8">
                <%=
                  f.text_field :last_name,
                    class: 'form-control'
                  %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%=
                f.label :email,
                class: 'col-sm-4 col-form-label'
              %>
              <div class="col-sm-8">
                <%=
                  f.email_field :email,
                    class: 'form-control'
                  %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%=
                f.label :organization,
                class: 'col-sm-4 col-form-label'
              %>
              <div class="col-sm-8">
                <%=
                  f.text_field :organization,
                    class: 'form-control'
                  %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%=
                f.label :role,
                class: 'col-sm-4 col-form-label'
              %>
              <div class="col-sm-8">
                <%=
                  f.text_field :role,
                    class: 'form-control'
                  %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class=="col-sm-3">
              <%=
                f.submit @client_team_member.new_record? ?
                  'Add Client Team Member' :
                  'Update Client Team Member',
                  class: 'btn btn-outline-primary'
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
