<tr>
  <td></td>
  <td><%= document.name %></td>
  <td><%= document.phase %></td>
  <td><%= document.timing %></td>
  <td><%= document.file_location %></td>
  <td><%= document.document_type %></td>
  <td><%= document.revision_name %></td>
  <td><%= document.revision_type %></td>
  <td><%= document.revision_frequency %></td>
</tr>
