<tr>
  <td class="align-middle text-center">
    <%= link_to '<i class="fa fa-pencil p-1"></i>'.html_safe, edit_document_path(document), id: "edit_document_#{document.id}" %>
    <%= link_to '<i class="fa fa-trash p-1"></i>'.html_safe, document_path(document), method: :delete, id: "delete_document_#{document.id}", data: {confirm: "Are you sure you want to remove this document from the list?"} %>
  </td>
  <td class="align-middle text-center">
    <div id="status_document_<%= document.id %>">
      <%= render partial: 'project_document_status', locals: {document: document} %>
    </div>
  </td>
  <td class="align-middle text-center"><%= document.name %></td>
  <td class="align-middle text-center"><%= document.phase %></td>
  <td class="align-middle text-center"><%= document.timing %></td>
  <td class="align-middle text-center"><%= document.file_location %></td>
  <td class="align-middle text-center"><%= document.document_type %></td>
  <td class="align-middle text-center"><%= document.prepared_by_role %></td>
  <td class="align-middle text-center"><%= document.delivered_to_role %></td>
  <td class="align-middle text-center"><%= document.revision_name %></td>
  <td class="align-middle text-center"><%= document.revision_type %></td>
  <td class="align-middle text-center"><%= document.revision_frequency %></td>
</tr>
