<tr>
  <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_equipment_path(equipment), id: "edit_equipment_#{equipment.id}" %>|<%= link_to '<i class="fa fa-trash"></i>'.html_safe, equipment_path(equipment), method: :delete, id: "delete_equipment_#{equipment.id}", data: { confirm: "Are you sure?" } %></td>
  <td><%= equipment.tag %></td>
  <td>PID Number</td>
  <td><%= equipment.datasheet_complete %></td>
  <td><%= equipment.datasheet_released %></td>
  <td><%= equipment.rfq_sent %></td>
  <td><%= equipment.po_placed %></td>
  <td><%= equipment.drawing_for_approval_received %></td>
  <td><%= equipment.drawing_for_approval_marked_up %></td>
  <td><%= equipment.drawing_for_approval_sent_to_client %></td>
  <td><%= equipment.drawing_for_approval_released_for_construction %></td>
  <td><%= equipment.item_received_at_zeton %></td>
  <td><%= equipment.item_inspected_and_released %></td>
  <td><%= equipment.item_installed_by_mech %></td>
  <td><%= equipment.item_grounded_by_elec %></td>
  <td><%= equipment.item_inspected_by_eng %></td>
</tr>
