<tr>
  <td>edit | delete</td>
  <td><%= equipment.tag %></td>
  <td>PID Number</td>
  <td><%= equipment.datasheet_complete %></td>
  <td><%= equipment.datasheet_released %></td>
  <td><%= equipment.rfq_sent %></td>
  <td><%= equipment.po_placed %></td>
  <td><%= equipment.drawing_for_approval_received %></td>
  <td><%= equipment.drawing_for_approval_marked_up %></td>
  <td><%= equipment.drawing_for_approval_sent_to_client %></td>
  <td><%= equipment.drawing_for_approval_released_for_construction %></td>
  <td><%= equipment.item_received_at_zeton %></td>
  <td><%= equipment.item_inspected_and_released %></td>
  <td><%= equipment.item_installed_by_mech %></td>
  <td><%= equipment.item_grounded_by_elec %></td>
  <td><%= equipment.item_inspected_by_eng %></td>
</tr>
