<tr>
  <td>edit | delete</td>
  <td><%= equipment.tag %></td>
  <td><%= equipment.description %></td>
  <td><%= equipment.equipment_type %></td>
  <td><%= equipment.scope %></td>
  <td><%= equipment.supplier %></td>
  <td><%= equipment.manufacturer %></td>
  <td><%= equipment.model_number %></td>
  <td><%= equipment.zeton_po %></td>
  <td><%= equipment.tracking_number %></td>
  <td><%= equipment.receiving_info %></td>
