<tr>
  <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_equipment_path(equipment), id: "edit_equipment_#{equipment.id}" %> | <%= link_to '<i class="fa fa-trash"></i>'.html_safe, equipment_path(equipment), method: :delete, id: "delete_equipment_#{equipment.id}", data: { confirm: "Are you sure?" } %></td>
  <td><%= equipment.tag %></td>
  <td><%= equipment.description %></td>
  <td><%= equipment.equipment_type %></td>
  <td><%= equipment.scope %></td>
  <td><%= equipment.supplier %></td>
  <td><%= equipment.manufacturer %></td>
  <td><%= equipment.model_number %></td>
  <td><%= equipment.zeton_po %></td>
  <td><%= equipment.tracking_number %></td>
  <td><%= equipment.receiving_info %></td>
