<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body pt-1 pb-0">
        <div class="row">
          <div class="col-12 col-md-6">
            <h3 class="card-title">
              <span class="p-2 mt-2">
                <%= link_to handvalve.tag, handvalve_path(handvalve), id: "show_handvalve_#{handvalve.id}" %>
              </span>
            </h3>
          </div>
          <div class="col-12 col-md-6">
            <span class="float-md-right">
              <a data-toggle="collapse" href="#handvalve_<%= handvalve.id %>_details" role="button" aria-expanded="false" aria-controls="handvalve_<%= handvalve.id %>_details" class="btn btn-outline-primary">
                Details
                <i class="fa fa-caret-down"></i>
              </a>
              <a data-toggle="collapse" href="#handvalve_<%= handvalve.id %>_metrics" role="button" aria-expanded="false" aria-controls="handvalve_<%= handvalve.id %>_metrics" class="btn btn-outline-primary">
                Metrics
                <i class="fa fa-caret-down"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="mt-3 row collapse" id="handvalve_<%= handvalve.id %>_details">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Skid Number:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span>Skid <%= handvalve.zeton_skid_number %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Skid Level:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.zeton_skid_level %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Valve Code:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.valve_code %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Valve Type:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.valve_type %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Size:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.size %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Line/Equipment Tag:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.line_number %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Scope:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.scope %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Supplier:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.supplier %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Manufacturer:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.manufacturer %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Model Number:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.model %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Process Connection:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.process_connection %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>MOC:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.material_of_construction %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Valve Code:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.valve_counting_code %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Installation Location:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.valve_location %></span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <span>Zeton PO:</span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                <span><%= handvalve.zeton_po %></span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 row collapse" id="handvalve_<%= handvalve.id %>_metrics">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="float-left">
                Description Complete
              </span>
              <span class="float-right">
                <div id="description_complete_status_handvalve_<%= handvalve.id %>">
                  <%= render partial: 'handvalves/description_complete_status', locals: {handvalve: handvalve} %>
                </div>
              </span>
            </li>
            <li class="list-group-item">
              <span class="float-left">Description Approved</span>
              <span class="float-right">
                <div id="description_approved_status_handvalve_<%= handvalve.id %>">
                  <%= render partial: 'handvalves/description_approved_status', locals: {handvalve: handvalve} %>
                </div>
              </span>
            </li>
            <li class="list-group-item">
              <span class="float-left">PO Placed</span>
              <span class="float-right">
                <div id="po_placed_status_handvalve_<%= handvalve.id %>">
                  <%= render partial: 'handvalves/po_placed_status', locals: {handvalve: handvalve} %>
                </div>
              </span>
            </li>
            <li class="list-group-item">
              <span class="float-left">Item Received</span>
              <span class="float-right">
                <div id="item_received_status_handvalve_<%= handvalve.id %>">
                  <%= render partial: 'handvalves/item_received_status', locals: {handvalve: handvalve} %>
                </div>
              </span>
            </li>
            <li class="list-group-item">
              <span class="float-left">Item Released</span>
              <span class="float-right">
                <div id="item_released_status_handvalve_<%= handvalve.id %>">
                  <%= render partial: 'handvalves/item_released_status', locals: {handvalve: handvalve} %>
                </div>
              </span>
            </li>
            <li class="list-group-item">
              <span class="float-left">Item Mounted</span>
              <span class="float-right">
                <div id="item_mounted_status_handvalve_<%= handvalve.id %>">
                  <%= render partial: 'handvalves/item_mounted_status', locals: {handvalve: handvalve} %>
                </div>
              </span>
            </li>
            <li class="list-group-item">
              <span class="float-left">Item Plumbed</span>
              <span class="float-right">
                <div id="item_plumbed_status_handvalve_<%= handvalve.id %>">
                  <%= render partial: 'handvalves/item_plumbed_status', locals: {handvalve: handvalve} %>
                </div>
              </span>
            </li>
            <li class="list-group-item">
              <span class="float-left">Checked By Engineer</span>
              <span class="float-right">
                <div id="checked_by_eng_status_handvalve_<%= handvalve.id %>">
                  <%= render partial: 'handvalves/checked_by_eng_status', locals: {handvalve: handvalve} %>
                </div>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4">
            <i class="fa fa-image"></i>
            <span class="ml-4">710-39-110</span>
          </div>
          <div class="col-sm-4">
            <i class="fa fa-building"></i>
            <span class="ml-4"><%= handvalve.scope %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

