<tr>
  <td class="align-middle text-center"><%= link_to 'edit', edit_instrument_path(instrument), id: "edit_instrument_#{instrument.id}" %> | <%= link_to 'delete', instrument_path(instrument), method: :delete, id: "delete_instrument_#{instrument.id}" %></td>
  <td class="align-middle text-center"><%= link_to instrument.tag, instrument_path(instrument) %></td>
  <td class="align-middle text-center">PID number</td>
  <td class="align-middle text-center"><%= instrument.scope %></td>
  <td class="align-middle text-center"><%= instrument.mech_elec %></td>
  <td class="align-middle text-center"><%= instrument.manufacturer %></td>
  <td class="align-middle text-center"><%= instrument.model %></td>
  <td class="align-middle text-center"><%= instrument.process_connection %></td>
  <td class="align-middle text-center"><%= instrument.material_of_construction %></td>
  <td class="align-middle text-center"><%= instrument.range %></td>
</tr>
