<tr>
  <td class="text-center">edit | delete</td>
  <td class="text-center"><%= instrument.tag %></td>
  <td class="text-center">PID number</td>
  <td class="text-center"><%= instrument.zeton_skid_number %></td>
  <td class="text-center"><%= instrument.zeton_skid_level %></td>
  <td class="text-center"><%= instrument.scope %></td>
  <td class="text-center"><%= instrument.mech_elec %></td>
  <td class="text-center"><%= instrument.supplier %></td>
  <td class="text-center"><%= instrument.manufacturer %></td>
  <td class="text-center"><%= instrument.model %></td>
  <td class="text-center"><%= instrument.process_connection %></td>
  <td class="text-center"><%= instrument.material_of_construction %></td>
  <td class="text-center"><%= instrument.item_type %></td>
  <td class="text-center"><%= instrument.location %></td>
  <td class="text-center"><%= instrument.dcs_io_type %></td>
  <td class="text-center"><%= instrument.range %></td>
  <td class="text-center"><%= instrument.zeton_po %></td>
  <td class="text-center"><%= instrument.tracking_number %></td>
  <td class="text-center"><%= instrument.receiving_info %></td>
</tr>
