<tr>
  <td class="text-center">edit | delete</td>
  <td class="text-center"><%= instrument.tag %></td>
  <td class="text-center">PID number</td>
  <td class="text-center"><%= instrument.datasheet_submitted_for_approval %></td>
  <td class="text-center"><%= instrument.datasheet_approved %></td>
  <td class="text-center"><%= instrument.rfq_sent %></td>
  <td class="text-center"><%= instrument.po_placed %></td>
  <td class="text-center"><%= instrument.item_received %></td>
  <td class="text-center"><%= instrument.item_inspected_and_released %></td>
  <td class="text-center"><%= instrument.mounted_by_mechanical %></td>
  <td class="text-center"><%= instrument.plumbed_by_mechanical %></td>
  <td class="text-center"><%= instrument.cable_pulled %></td>
  <td class="text-center"><%= instrument.cable_terminated_at_source %></td>
  <td class="text-center"><%= instrument.cable_terminated_at_destination %></td>
  <td class="text-center"><%= instrument.continuity_tested %></td>
  <td class="text-center"><%= instrument.grounded_by_electrical %></td>
  <td class="text-center"><%= instrument.checked_by_eng %></td>
</tr>
