<tr>
  <td><%= link_to rfi.rfi_number, information_request_path(rfi), id: "show_rfi_#{rfi.id}" %></td>
  <td><%= rfi.zeton_clarification %></td>
  <td>
    <% rfi.instruments.each do |inst| %>
      <%= link_to inst.tag, instrument_path(inst) %><br />
    <% end %>
  </td>
  <td>
    <% rfi.equipment.each do |equip| %>
      <%= link_to equip.tag, equipment_path(equip) %><br />
    <% end %>
  </td>
  <td>Will insert latest response</td>
  <td><%= rfi.answered %></td>
</tr>
