<tr>
  <td>edit | delete</td>
  <td><%= rfi.rfi_number %></td>
  <td><%= rfi.client_document_number %></td>
  <td><%= rfi.client_document_title %></td>
  <td><%= rfi.client_document_revision %></td>
  <td><%= rfi.client_document_section %></td>
  <td><%= rfi.zeton_clarification %></td>
  <td><%= rfi.answered %></td>
</tr>
