<div class="col-sm-12">
  <div class="card mb-3">
    <div class="card-body mt-0">
      <div class="row">
        <div class="col-sm-12">
          <h5>
            <%= link_to rfi.rfi_number,
              information_request_path(rfi),
              id: "show_rfi_#{rfi.id}" %>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div id="rfi_status_form_rfi_<%= rfi.id %>">
            <%= render partial: 'information_requests/rfi_status_form',
              locals: {rfi: rfi} %>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12">
          <%= rfi.zeton_clarification %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12">
          <% rfi.instruments.each do |inst| %>
            <%= link_to inst.tag,
              instrument_path(inst),
              class: 'badge badge-pill badge-primary' %>
          <% end %>
          <% rfi.equipment.each do |equip| %>
            <span >
              <%= link_to equip.tag,
                equipment_path(equip),
                class: 'badge badge-pill badge-primary' %>
            </span>
          <% end %>
          <% rfi.handvalves.each do |valve| %>
            <span >
              <%= link_to valve.tag,
                handvalve_path(valve),
                class: 'badge badge-pill badge-primary' %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-calendar pr-3"></i>
          <% if rfi.target_date.present? %>
            <%=
              rfi.target_date.strftime(
              "%b %-d, %Y"
              )
            %> (
            <%= pluralize days_from_now(rfi.target_date), 'day' %>
            from now)
          <% end %>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-reply pr-3"></i>
          <% if rfi.rfi_responses.any? %>
            <%=
              rfi.rfi_responses.last.created_at.strftime(
              "%b %-d, %Y"
              )
            %>
          <% else %>
            No updates from client
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>






