<div class="section-heading">
  Handvalves
</div>
<div class="section-sub-heading">
  Click on a handvalve tag to view and update
</div>
<div class="table-function-row">
  <div class="table-function-item" onclick="showPopup('#filter-pop-up')">
    <i class="fa fa-filter"></i>
    Filter
  </div>
  <div class="table-function-item">
    <i class="fas fa-download"></i>
    <%=
      link_to 'Download as Excel',
      project_handvalves_excel_path(format: :xlsx),
      class: 'table-link'
    %>
  </div>
  <div class="table-function-item">
    <i class="fas fa-upload"></i>
    <%=
      link_to 'Upload from Excel',
      new_project_handvalve_import_path,
      class: 'table-link'
    %>
  </div>
</div>
<div class="filter-pop-up hide" id="filter-pop-up">
  <div class="filter-row">
    <div class="filter-select">
      Select...
    </div>
    <div class="filter-params">
      param
    </div>
  </div>
  <div class="add-new-filter">
    <div class="new-filter-icon">
      <i class="fas fa-plus"></i>
    </div>
    <div class="new-filter-text">
      Add new filter
    </div>
  </div>
</div>
<div class="wide-section">
  <div class="wide-table">
    <div class="table-heading-row">
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-tag"></i>
        </div>
        <div class="table-heading-text">
          Tag
        </div>
        <div class="table-heading-sort" onclick="showPopup('#tagSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="tagSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="far fa-building"></i>
        </div>
        <div class="table-heading-text">
          Manufacturer
        </div>
        <div class="table-heading-sort" onclick="showPopup('#manufacturerSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="manufacturerSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-hashtag"></i>
        </div>
        <div class="table-heading-text">
          Model Number
        </div>
        <div class="table-heading-sort" onclick="showPopup('#modelSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="modelSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-wrench"></i>
        </div>
        <div class="table-heading-text">
          Process Connection
        </div>
        <div class="table-heading-sort" onclick="showPopup('#processSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="processSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-certificate"></i>
        </div>
        <div class="table-heading-text">
          Material of Construction
        </div>
        <div class="table-heading-sort" onclick="showPopup('#mocSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="mocSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-compress"></i>
        </div>
        <div class="table-heading-text">
          Size
        </div>
        <div class="table-heading-sort" onclick="showPopup('#sizeSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="rangeSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="far fa-dot-circle"></i>
        </div>
        <div class="table-heading-text">
          Type
        </div>
        <div class="table-heading-sort" onclick="showPopup('#dcsSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="dcsSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="table-heading-text">
          PO Number
        </div>
        <div class="table-heading-sort" onclick="showPopup('#poSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="poSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="far fa-hand-point-right"></i>
        </div>
        <div class="table-heading-text">
          Item Scope
        </div>
        <div class="table-heading-sort" onclick="showPopup('#itemSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="itemSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-hashtag"></i>
        </div>
        <div class="table-heading-text">
          Valve Specification
        </div>
        <div class="table-heading-sort" onclick="showPopup('#installationSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="installationSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-bullseye"></i>
        </div>
        <div class="table-heading-text">
          Skid Location
        </div>
        <div class="table-heading-sort" onclick="showPopup('#skidSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="skidSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-map-pin"></i>
        </div>
        <div class="table-heading-text">
          Installed On
        </div>
        <div class="table-heading-sort" onclick="showPopup('#installedOnSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="installedOnSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell last-cell">
        <div class="table-heading-icon">
          <i class="fas fa-signal"></i>
        </div>
        <div class="table-heading-text">
          Statistics Count
        </div>
        <div class="table-heading-sort" onclick="showPopup('#statisticsSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="statisticsSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
    </div>
    <% @handvalves.each do |hv| %>
      <div class="table-data-row">
        <div class="table-data-cell">
          <div class="table-data-text">
            <%=
              link_to hv.tag,
                handvalve_path(hv),
                class: 'table-link'
              %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= truncate(hv.manufacturer, length: 25) %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.model %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.process_connection %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.material_of_construction %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.size %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.valve_type %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.zeton_po %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.scope %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.valve_code %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            Skid <%= hv.zeton_skid_number %>,
            Level <%= hv.zeton_skid_level %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.line_number %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= hv.valve_counting_code %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="table-last-row">
      <div class="table-last-icon">
        <i class="fas fa-plus"></i>
      </div>
      <%=
        link_to 'Add a handvalve',
          new_handvalve_path,
          class: "table-last-text"
        %>
    </div>
  </div>
</div>
<div class="row pl-5 pr-5">
  <%= will_paginate(
    @handvalves,
    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer
  ) %>
</div>



