<div class="row pl-5 pr-5 mb-3 mt-5">
  <div class="col-sm-12">
    <h3>
      Handvalves Metrics
    </h3>
  </div>
</div>
<div class="row pl-5 pr-5">
  <div class="col-sm-12">
    <div class="card card-box-shadow mb-3">
      <div class="card-body mt-0">
        <div class="dropdown mt-3 mb-3">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="loop_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
          </button>
          <div class="dropdown-menu" style="height: 200px; overflow: scroll;" aria-labelledby="loop_dropdown_button">
            <%= link_to 'Tag', request.query_parameters.merge(:sorted_by => 'tag_' + sort_direction(@sorted_by)), class: 'dropdown-item' %>
          </div>
        </div>
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Filters<span class="ml-3"><i class="fa fa-caret-down"></i></span>
        </a>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="row">
              <div class="col-4">
                <%= link_to 'Clear all', project_handvalves_metrics_path(:sorted_by => 'tag asc'), class: 'btn btn-outline-primary btn-sm' %>
              </div>
              <div class="col-4">
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="type_code_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Type
                    <% if params[:with_type].present? %>
                      <i class="fa fa-filter"></i>
                    <% end %>
                  </button>
                  <div class="dropdown-menu" style="height: 200px; overflow: scroll;" aria-labelledby="type_code_dropdown_button">
                    <%= link_to "Show All", project_handvalves_metrics_path(:with_type => nil), class: 'dropdown-item' %>
                    <% @types.each do |type| %>
                      <%= link_to type, request.query_parameters.merge(:with_type => type), class: "dropdown-item" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="dropdown">
                  <button class="btn-sm btn btn-outline-primary dropdown-toggle" type="button" id="loop_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Size
                    <% if params[:with_size].present? %>
                      <i class="fa fa-filter"></i>
                    <% end %>
                  </button>
                  <div class="dropdown-menu" style="height: 200px; overflow: scroll;" aria-labelledby="loop_dropdown_button">
                    <%= link_to "Show All", project_handvalves_metrics_path(:with_size => nil), class: 'dropdown-item' %>
                    <% @sizes.each do |size| %>
                      <%= link_to size, request.query_parameters.merge(:with_size => size), class: "dropdown-item" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row pl-5 pr-5">
  <div class="col-sm-12">
    <div class="card card-box-shadow mb-3">
      <div class="card-body mt-0">
        <div class="table-responsive table-header-column mb-5">
          <table class="mt-3 table table-hover table-fixed-tags">
            <thead>
              <tr>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">Tag</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">PID</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">Description<br /> Complete</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">Description <br />Approved</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">PO Placed</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">Received</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">Released</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">Mounted</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">Plumbed</th>
                <th scope="col" class="pl-0 pr-0 border-top-0 align-middle text-center">Engineering</th>
              </tr>
            </thead>
            <tbody>
              <% @handvalves.each do |valve| %>
                <%= render partial: "handvalves_metrics", locals: {handvalve: valve} %>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= will_paginate(@handvalves, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      </div>
    </div>
  </div>
</div>
