<div class="section-heading">
  Action Items
</div>
<div class="section-sub-heading">
  Click on an action item to view and update
</div>
<div class="table-function-row">
  <div class="table-function-item" onclick="showPopup('#filter-pop-up')">
    <i class="fa fa-filter"></i>
    Filter
  </div>
  <div class="table-function-item">
    <i class="fas fa-download"></i>
    <%=
      link_to 'Download as Excel',
      project_instruments_excel_path,
      class: 'table-link'
    %>
  </div>
  <div class="table-function-item">
    <i class="fa fa-filter"></i>
    Upload from Excel
  </div>
</div>
<div class="filter-pop-up hide" id="filter-pop-up">
  <div class="filter-row">
    <div class="filter-select">
      Select...
    </div>
    <div class="filter-params">
      param
    </div>
  </div>
  <div class="add-new-filter">
    <div class="new-filter-icon">
      <i class="fas fa-plus"></i>
    </div>
    <div class="new-filter-text">
      Add new filter
    </div>
  </div>
</div>
<div class="wide-section">
  <div class="wide-table">
    <div class="table-heading-row">
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-hashtag"></i>
        </div>
        <div class="table-heading-text">
          Number
        </div>
        <div class="table-heading-sort" onclick="showDocumentData(event, '#numberSort')">
          <i class="fas fa-sort"></i>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-clipboard-check"></i>
        </div>
        <div class="table-heading-text">
          Status
        </div>
        <div class="table-heading-sort" onclick="showDocumentData(event, '#statusSort')">
          <i class="fas fa-sort"></i>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="far fa-user"></i>
        </div>
        <div class="table-heading-text">
          Assigned to
        </div>
        <div class="table-heading-sort" onclick="showDocumentData(event, '#assignedToSort')">
          <i class="fas fa-sort"></i>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="far fa-dot-circle"></i>
        </div>
        <div class="table-heading-text">
          Work Area
        </div>
        <div class="table-heading-sort" onclick="showDocumentData(event, '#areaSort')">
          <i class="fas fa-sort"></i>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-sort-numeric-down"></i>
        </div>
        <div class="table-heading-text">
          Target Date
        </div>
        <div class="table-heading-sort" onclick="showDocumentData(event, '#targetSort')">
          <i class="far fa-calendar"></i>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="far fa-calendar-check"></i>
        </div>
        <div class="table-heading-text">
          Date Completed
        </div>
        <div class="table-heading-sort" onclick="showDocumentData(event, '#dateCompletedSort')">
          <i class="fas fa-sort"></i>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-tags"></i>
        </div>
        <div class="table-heading-text">
          Associated Items
        </div>
        <div class="table-heading-sort" onclick="showDocumentData(event, '#associatedSort')">
          <i class="fas fa-sort"></i>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-align-left"></i>
        </div>
        <div class="table-heading-text">
          Action Item
        </div>
        <div class="table-heading-sort" onclick="showDocumentData(event, '#actionItemSort')">
          <i class="fas fa-sort"></i>
        </div>
      </div>
    </div>
    <% @action_items.each do |ai| %>
      <div class="table-data-row">
        <div class="table-data-cell">
          <div class="table-data-text">
            <%=
              link_to ai.ai_number,
              action_item_path(ai),
              class: 'table-link',
              id: "show_action_item_#{ai.id}"
            %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table=-data-text">
            <div id="action_item_status_form_action_item_<%= ai.id %>">
              <%= render partial: 'action_items/action_item_status_form',
                locals: {
                  action_item: ai
                }
              %>
            </div>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <% if ai.assigned_to %>
              <%= ai.assigned_to.full_name %>
            <% else %>
              Not assigned
            <% end %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= ai.area %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <% if ai.target_date %>
              <%= ai.target_date.strftime("%b %-d, %Y") %>
            <% else %>
              No date provided
            <% end %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <% if ai.completion_date %>
              <%= ai.completion_date.strftime("%b %-d, %Y") %>
            <% else %>
              Not completed
            <% end %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= ai.number_of_associations %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= truncate(ai.description, length: 30) %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="table-last-row">
      <div class="table-last-icon">
        <i class="fas fa-plus"></i>
      </div>
      <%=
        link_to 'Add new',
          new_action_item_path,
          class: "table-last-text",
          id: 'new_action_item'
        %>
    </div>
  </div>
</div>
<%=
  will_paginate(
    @action_items,
    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer
  )
%>

