<div class="section-heading">
  Instrument Metrics
</div>
<div class="section-sub-heading">
  Click on an instrument tag to view and update
</div>
<div class="table-function-row">
  <div class="table-function-item" onclick="showPopup('#filter-pop-up')">
    <i class="fa fa-filter"></i>
    Filter
  </div>
  <div class="table-function-item">
    <i class="fas fa-download"></i>
    <%=
      link_to 'Download as Excel',
      project_instruments_excel_path(format: :xlsx),
      class: 'table-link'
    %>
  </div>
  <div class="table-function-item">
    <i class="fas fa-upload"></i>
    <%=
      link_to 'Upload from Excel',
      new_project_instrument_import_path,
      class: 'table-link'
    %>
  </div>
</div>
<div class="filter-pop-up hide" id="filter-pop-up">
  <div class="filter-row">
    <div class="filter-select">
      Select...
    </div>
    <div class="filter-params">
      param
    </div>
  </div>
  <div class="add-new-filter">
    <div class="new-filter-icon">
      <i class="fas fa-plus"></i>
    </div>
    <div class="new-filter-text">
      Add new filter
    </div>
  </div>
</div>
<div class="wide-section">
  <div class="wide-table">
    <div class="inst-metrics-table-heading-row">
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-tag"></i>
        </div>
        <div class="table-heading-text">
          Tag
        </div>
        <div class="table-heading-sort" onclick="showPopup('#tagSort')">
          <i class="fas fa-sort"></i>
        </div>
        <div class="sort-pop-up hide" id="tagSort">
          <div class="sort-ascending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-up"></i>
            </div>
            <div class="sort-text">
              Ascending
            </div>
          </div>
          <div class="sort-descending">
            <div class="sort-icon">
              <i class="fas fa-sort-alpha-down"></i>
            </div>
            <div class="sort-text">
              Descending
            </div>
          </div>
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Datasheet Submitted
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Datasheet Approved
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          RFQ Sent
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          PO Placed
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Item Received
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Item Released
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Item Mounted
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Item Plumbed
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Cable Pulled
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Cable Terminated at Source
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Cable Terminated at Destination
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Continuity Tested
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Grounded by Electrical
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="table-heading-text">
          Checked by Engineer
        </div>
        <div class="table-heading-sort">
        </div>
      </div>
    </div>
    <% @instruments.each do |inst| %>
      <div class="inst-metrics-table-data-row">
        <div class="table-data-cell">
          <div class="table-data-text">
            <%=
              link_to inst.tag,
                instrument_path(inst),
                class: 'table-link'
              %>
          </div>
        </div>
        <% inst.attributes.each do |name, value| %>
          <% if Instrument.metrics_attributes.include?(name) %>
            <div class="table-data-cell">
              <div id="<%= name %>_status_instrument_<%= inst.id %>" class="table-data-text">
                <%=
                  render partial: 'shared/metrics_icon',
                  locals: {
                    record: inst,
                    name: name,
                    value: value
                  }
                %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="table-last-row">
      <div class="table-last-icon">
        <i class="fas fa-plus"></i>
      </div>
      <%=
        link_to 'Add an instrument',
          new_instrument_path,
          class: "table-last-text"
        %>
    </div>
  </div>
</div>
<%=
  will_paginate(@instruments,
  :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)
%>






