<div class="main">
  <h4><%= @project.project_number %></h4>
  <h6 class="mt-3 mb-4 text-muted"><%= @project.project_name %></h6>
  <h5>
    Instrument List<br />
    <small class="text-muted"><%= link_to 'View Metrics', project_instruments_metrics_path(@project) %></small>
  </h5>
  <div class="table-responsive">
    <table class="mt-3 table table-hover">
      <thead>
        <tr>
          <th scope="col" class="border-top-0 align-middle text-center"></th>
          <th scope="col" class="border-top-0 align-middle text-center">Tag</th>
          <th scope="col" class="border-top-0 align-middle text-center">P&ID</th>
          <th scope="col" class="border-top-0 align-middle text-center">Scope</th>
          <th scope="col" class="border-top-0 align-middle text-center">M,E,M/E</th>
          <th scope="col" class="border-top-0 align-middle text-center">Manufacturer</th>
          <th scope="col" class="border-top-0 align-middle text-center">Model Number</th>
          <th scope="col" class="border-top-0 align-middle text-center">Process Connection</th>
          <th scope="col" class="border-top-0 align-middle text-center">MOC</th>
          <th scope="col" class="border-top-0 align-middle text-center">Range</th>
        </tr>
      </thead>
      <tbody>
        <% @instruments.each do |inst| %>
          <%= render partial: "instruments", locals: {instrument: inst} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Add New Instrument', new_instrument_path(:project => @project), class: 'btn btn-outline-primary btn-block', id: 'new_instrument_link' %>
</div>
