<div class="chart">
  <div class="row pl-5 pr-5">
    <div class="col-sm-12">
      <h3 class="mb-5">
        Project Dashboard
      </h3>
    </div>
    <% if current_project.ready_to_report_metrics %>
      <canvas id="instrumentsChart" height="75"></canvas>
    <% end %>
  </div>
</div>
<div class="row pl-5 pr-5 pb-5 neg-mar">
  <div class="col-sm-4">
    <div class="card card-box-shadow">
      <div class="card-body">
        <div class="col-sm-12 text-muted mb-5">
          Equipment
        </div>
        <% @equip_quick_metrics.each do |key, value| %>
          <div class="col-sm-12 mb-1">
            <%= value %>
            <span class="float-right">
              <%= @equip_metrics_summary[key][:complete] %>
              out of
              <%= @equip_metrics_summary[key][:required] %>
              (<%= @equip_metrics_summary[key][:percent] %>%)
            </span>
          </div>
          <div class="col-sm-12 mb-3">
            <div class="progress" style="height: 5px;">
              <div class="progress-bar"
                   role="progressbar"
                   style="width: <%= @equip_metrics_summary[key][:percent] %>%;"
                   aria-valuenow="<%= @equip_metrics_summary[key][:percent] %>"
                   aria-valuemin="0"
                   aria-valuemax="100">
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12 pt-5">
          <%= link_to 'View Metrics', project_equipment_metrics_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-box-shadow">
      <div class="card-body">
        <div class="col-sm-12 text-muted mb-5">
          Instruments
        </div>
        <% @inst_quick_metrics.each do |key, value| %>
          <div class="col-sm-12 mb-1">
            <%= value %>
            <span class="float-right">
              <%= @inst_metrics_summary[key][:complete] %>
              out of
              <%= @inst_metrics_summary[key][:required] %>
              (<%= @inst_metrics_summary[key][:percent] %>%)
            </span>
          </div>
          <div class="col-sm-12 mb-3">
            <div class="progress" style="height: 5px;">
              <div class="progress-bar"
                   role="progressbar"
                   style="width: <%= @inst_metrics_summary[key][:percent] %>%;"
                   aria-valuenow="<%= @inst_metrics_summary[key][:percent] %>"
                   aria-valuemin="0"
                   aria-valuemax="100">
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12 pt-5">
          <%= link_to 'View Metrics', project_instruments_metrics_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-box-shadow">
      <div class="card-body">
        <div class="col-sm-12 text-muted mb-5">
          Handvalves
        </div>
        <% @hv_quick_metrics.each do |key, value| %>
          <div class="col-sm-12 mb-1">
            <%= value %>
            <span class="float-right">
              <%= @hv_metrics_summary[key][:complete] %>
              out of
              <%= @hv_metrics_summary[key][:required] %>
              (<%= @hv_metrics_summary[key][:percent] %>%)
            </span>
          </div>
          <div class="col-sm-12 mb-3">
            <div class="progress" style="height: 5px;">
              <div class="progress-bar"
                   role="progressbar"
                   style="width: <%= @hv_metrics_summary[key][:percent] %>%;"
                   aria-valuenow="<%= @hv_metrics_summary[key][:percent] %>"
                   aria-valuemin="0"
                   aria-valuemax="100">
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12 pt-5">
          <%= link_to 'View Metrics', project_handvalves_metrics_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pl-5 pr-5 pt-1">
  <div class="col-sm-8">
    <div class="card card-box-shadow mb-5">
      <div class="card-body mt-0">
        <div class="col-sm-12 text-muted">
          Requests for Information
        </div>
        <% @rfis.each do |rfi| %>
          <div class="border-bottom">
            <div class="pt-3 mt-0">
              <div class="row pl-3 pr-3">
                <div class="col-sm-12">
                  <span class="h6 float-left">
                    <%= link_to rfi.rfi_number,
                      information_request_path(rfi) %>
                  </span>
                  <span class="float-right">
                    <%= rfi.created_at.strftime("%b %-d, %Y") %>
                  </span>
                </div>
              </div>
            </div>
            <div class="pb-3">
              <div class="row pl-3 pr-3">
                <div class="col-sm-12">
                  <%= rfi.zeton_clarification %>
                </div>
              </div>
              <div class="col-sm-12">
                <% rfi.instruments.each do |inst| %>
                  <span class="badge badge-pill badge-primary">
                    <%= inst.tag %>
                  </span>
                <% end %>
                <% rfi.equipment.each do |inst| %>
                  <span class="badge badge-pill badge-primary">
                    <%= inst.tag %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12 pt-5">
          <%= link_to 'View RFI Log', project_rfis_path %>
        </div>
      </div>
    </div>
    <div class="card card-box-shadow mb-5">
      <div class="card-body mt-0">
        <div class="col-sm-12 text-muted">
          Recent Action Items
        </div>
        <% @action_items.each do |item| %>
          <div class="border-bottom">
            <div class="pt-3 mt-0">
              <div class="row pl-3 pr-3">
                <div class="col-sm-12">
                  <span class="h6 float-left">
                    <%= link_to item.ai_number,
                      action_item_path(item) %>
                  </span>
                  <span class="float-right">
                    <%= item.created_at.strftime("%b %-d, %Y") %>
                  </span>
                </div>
              </div>
            </div>
            <div class="pb-3">
              <div class="row pl-3 pr-3">
                <div class="col-sm-12">
                  <%= item.description %>
                </div>
              </div>
              <div class="col-sm-12">
                <% item.instruments.each do |inst| %>
                  <span class="badge badge-pill badge-primary">
                    <%= inst.tag %>
                  </span>
                <% end %>
                <% item.equipment.each do |equip| %>
                  <span class="badge badge-pill badge-primary">
                    <%= equip.tag %>
                  </span>
                <% end %>
                <% item.handvalves.each do |hv| %>
                  <span class="badge badge-pill badge-primary">
                    <%= hv.tag %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-box-shadow mb-5">
      <div class="card-body mt-0">
        <div class="col-sm-12 text-muted mb">
          Zeton Team Members (
          <%= link_to "Add new", new_team_member_path, id: 'add_team_member' %>)
        </div>
        <% @team_members.each do |member| %>
          <div class="row border-bottom pt-3 mt-0 pl-3 pr-3">
            <div class="col-sm-9">
              <h6>
                <%= member.user.present? ?
                  member.user.full_name :
                  "Currently Unassigned" %>
              </h6>
              <p>
                <%= member.role %>
              </p>
            </div>
            <div class="col-sm-3">
              <%= link_to "Remove",
                team_member_path(member),
                method: :delete,
                class: 'btn btn-sm btn-outline-dark',
                id: "remove_team_member_#{member.id}" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card card-box-shadow mb-5">
      <div class="card-body mt-0">
        <div class="col-sm-12 text-muted mb">
          Client Team Members (
          <%= link_to "Add new", new_client_team_member_path, id: 'add_client_team_member' %>)
        </div>
        <% @client_team_members.each do |member| %>
          <div class="row border-bottom pt-3 mt-0 pl-3 pr-3">
            <div class="col-sm-9">
              <h6>
                <%= member.full_name %>
              </h6>
              <p>
              <%= member.role %>
              </p>
            </div>
            <div class="col-sm-3">
              <%=
                link_to "Remove",
                  client_team_member_path(member),
                  method: :delete,
                  class: 'btn btn-outline-dark btn-sm',
                  id: "remove_client_team_member_#{member.id}"
                %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  <% if current_project.ready_to_report_metrics %>
      Chart.defaults.global.defaultFontColor = '#ccd6e5';

      var colors = [
        'rgba(230, 25, 75, 0.7)',
        'rgba(60, 180, 75, 0.7)',
        'rgba(255, 225, 25, 0.7)',
        'rgba(0, 130, 200, 0.7)',
        'rgba(245, 130, 48, 0.7)',
        'rgba(145, 30, 180, 0.7)',
        'rgba(70, 240, 240, 0.7)',
        'rgba(240, 50, 230, 0.7)',
        'rgba(210, 245, 60, 0.7)',
        'rgba(250, 190, 190, 0.7)',
        'rgba (0, 128, 128, 0.7)',
        'rgba(230, 190, 255, 0.7)',
        'rgba(170, 110, 40, 0.7)',
        'rgba(255, 250, 200, 0.7)'
      ]
      var ctx = document.getElementById("instrumentsChart");
      var instrumentsChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: <%= @reporting_days_array %>,
          datasets: [
            <% @inst_cumulative_metrics.each_with_index do |(key, value), i| %>
              {
                label: "<%= key.to_s.humanize %>",
                data: <%= value.to_json.html_safe %>,
                borderColor: [
                  colors[<%= i %>]
                ],
                fill: false
              },
          <% end %>
          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          },
          legend: {
            position: 'bottom'
          }
        }
      });
  <% end %>

</script>

