<%= form_for @action_item do |f| %>
  <% if @action_item.errors.any? %>
    <div class="errors-dialogue">
      This couldn't be completed because there are <%= pluralize(@action_item.errors.count, "error") %>.  Please correct these errors below, then resubmit your form.
      <ul>
        <% @action_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item-properties">
    <div class="item-header" id="assigned_to">
      <div class="item-header-icon">
        <i class="fas fa-user"></i>
      </div>
      <%=
        f.label :assigned_to,
        'Assigned To',
        class: 'item-header-tet'
      %>
    </div>
    <%=
      f.collection_select :assigned_to_id,
      current_project.users.uniq,
      :id,
      :full_name,
      {
        selected: @action_item.assigned_to_id.to_i,
        include_blank: 'Select team member'
      },
      {class: 'form-input'}
    %>
    <div class="item-header" id="target_date">
      <div class="item-header-icon">
        <i class="far fa-calendar-alt"></i>
      </div>
      <%=
        f.label :target_date,
        'Target Date',
        class: 'item-header-tet'
      %>
    </div>
    <%=
      f.text_field :target_date,
        class: 'form-input',
        data: {
          provide: 'datepicker',
          'date-format' => 'yyyy-mm-dd',
          'date-autoclose' => 'true'
      }
    %>
    <div class="item-header" id="priority">
      <div class="item-header-icon">
        <i class="fas fa-sort-numeric-down"></i>
      </div>
      <%=
        f.label :priority,
        'Priority',
        class: 'item-header-tet'
      %>
    </div>
    <%=
      f.select :priority,
      @priorities,
      {},
      {class: 'form-input'}
    %>
    <div class="item-header" id="area-header">
      <div class="item-header-icon">
        <i class="fas fa-bullseye"></i>
      </div>
      <%=
        f.label :area,
        'Area',
        class: 'item-header-tet'
      %>
    </div>
    <%=
      f.select :area,
      @work_areas,
      {},
      {class: 'form-input'}
    %>
    <div class="item-header" id="associated-items-header">
      <div class="item-header-icon">
        <i class="fas fa-tags"></i>
      </div>
      <div class="item-header-text">
        Associated Items
      </div>
    </div>
    <div class="item-associations">
      <%=
        hidden_field_tag "action_item[instrument_ids][]",
        nil
      %>
      <%=
        f.select :instrument_ids,
        @instruments.map{ |i| [i.tag, i.id]},
        {},
        multiple: true,
        class: "form-control"
      %>
      <%=
        hidden_field_tag "action_item[equipment_ids][]",
        nil
      %>
      <%= f.select :equipment_ids,
        @equipment.map{ |i| [i.tag, i.id]},
        {},
        multiple: true,
        class: "form-control"
      %>
      <%=
        hidden_field_tag "action_item[handvalves_ids][]",
        nil
      %>
      <%=
        f.select :handvalve_ids,
        @handvalves.map{ |i| [i.tag, i.id]},
        {},
        multiple: true,
        class: "form-control"
      %>
    </div>
    <div class="item-header" id="description-header">
      <div class="item-header-icon">
        <i class="fas fa-align-justify"></i>
      </div>
      <%=
        f.label :description,
        'Action Item',
        class: 'item-header-text'
      %>
    </div>
    <%=
      f.text_area :description,
      class: 'form-input',
      rows: 5
    %>
    <%=
      f.submit @action_item.new_record? ?
      'Add Action Item' :
      'Update Action Item',
      class: 'form-submit-button'
    %>
  </div>
<% end %>


<script>
  $(document).ready(function() {
    $('#action_item_instrument_ids').select2({
      placeholder: "Select associated instruments",
      theme: "bootstrap"
    });
    $('#action_item_equipment_ids').select2({
      placeholder: "Select associated equipment",
      theme: "bootstrap"
    });
    $('#action_item_handvalve_ids').select2({
      placeholder: "Select associated handvalves",
      theme: "bootstrap"
    });
  });
</script>


<script type="text/javascript">
            $(function () {
                $('#target_datepicker').datetimepicker();
            });
        </script>
