<%= form_for @instrument do |f| %>
  <% if @instrument.errors.any? %>
    <div class="alert alert-warning">
      The form contains <%= pluralize(@instrument.errors.count, "error") %>
    </div>
    <ul>
      <% @instrument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.hidden_field :project_id, value: @project.id %>
  <div class="row mb-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Metrics</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="float-sm-left">Datasheet Submitted</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Datasheet Approved</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">RFQ Sent</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">PO Placed</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Item Received</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Item Released</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Mounted by Mechanical</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Plumbed by Mechanical</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Cable Pulled</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Terminated at Source</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Terminated at Dest.</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Continuity Tested</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Grounded by Electrical</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Checked by Engineering</span><span class="float-sm-right"><i class="fa fa-check-circle text-success"></i></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instrument Data</h5>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-group ml-3 border-0">
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :type_code, 'Type', class: 'pr-0 mr-0 col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :type_code, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :zeton_skid_number, 'Skid Number', class: 'pr-0 mr-0 col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :zeton_skid_number, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :scope, 'Zeton or Client Scope', class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :scope, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :supplier, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :supplier, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :model, 'Model Number', class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :model, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :material_of_construction, 'MOC', class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :material_of_construction, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :location, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :location, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :dcs_io_type, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :dcs_io_type, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :tracking_number, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :tracking_number, class: 'form-control' %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-group mr-3">
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :loop, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :loop, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :zeton_skid_level, 'Skid level', class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :zeton_skid_level, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :mech_elec, 'M, M/E, or E', class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :mech_elec, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :manufacturer, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :manufacturer, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :process_connection, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :process_connection, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :item_type, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :item_type, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :range, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :range, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :zeton_po, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :zeton_po, class: 'form-control' %>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0">
                <div class="form-group row mb-0">
                  <%= f.label :receiving_info, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :receiving_info, class: 'form-control' %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit @instrument.new_record? ? 'Add Instrument' : 'Update Instrument', class: 'btn btn-outline-primary' %>
<% end %>
