<%= form_for @instrument do |f| %>
  <% if @instrument.errors.any? %>
    <div class="errors-dialogue">
      This couldn't be completed because there are <%= pluralize(@instrument.errors.count, "error") %>.  Please correct these errors below, then resubmit your form.
      <ul>
        <% @instrument.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="item-properties">
    <div class="instrument-header" id="type">
      <div class="instrument-header-icon">
        <i class="fas fa-bullseye"></i>
      </div>
      <%=
        f.label :type_code,
        'Type',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :type_code,
      class: 'form-input',
      placeholder: 'Enter type (PV, LIT, PI...)',
      onfocus: "darkLabel('#type')",
      onblur: "lightLabel('#type')"
    %>
    <div class="instrument-header" id="loop">
      <div class="instrument-header-icon">
        <i class="fas fa-hashtag"></i>
      </div>
      <%=
        f.label :loop,
        'Loop',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :loop,
      class: 'form-input',
      placeholder: 'Enter loop',
      onfocus: "darkLabel('#loop')",
      onblur: "lightLabel('#loop')"
    %>
    <div class="instrument-header" id="vendor">
      <div class="instrument-header-icon">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <%=
        f.label :supplier,
        'Vendor',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :supplier,
      class: 'form-input',
      placeholder: 'Enter vendor',
      onfocus: "darkLabel('#vendor')",
      onblur: "lightLabel('#vendor')"
    %>
    <div class="instrument-header" id="manufacturer">
      <div class="instrument-header-icon">
        <i class="far fa-building"></i>
      </div>
      <%=
        f.label :manufacturer,
        'Manufacturer',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :manufacturer,
      class: 'form-input',
      placeholder: 'Enter manufacturer',
      onfocus: "darkLabel('#manufacturer')",
      onblur: "lightLabel('#manufacturer')"
    %>
    <div class="instrument-header" id="model">
      <div class="instrument-header-icon">
        <i class="fas fa-hashtag"></i>
      </div>
      <%=
        f.label :model,
        'Model',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :model,
      class: 'form-input',
      placeholder: 'Enter model number',
      onfocus: "darkLabel('#model')",
      onblur: "lightLabel('#model')"
    %>
    <div class="instrument-header" id="connection">
      <div class="instrument-header-icon">
        <i class="fas fa-wrench"></i>
      </div>
      <%=
        f.label :process_connection,
        'Process Connection',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :process_connection,
      class: 'form-input',
      placeholder: 'Enter process connection (1/2 inch FNPT...)',
      onfocus: "darkLabel('#connection')",
      onblur: "lightLabel('#connection')"
    %>
    <div class="instrument-header" id = "moc">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :material_of_construction,
        'Material of Construction',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :material_of_construction,
      class: 'form-input',
      placeholder: 'Enter material of construction',
      onfocus: "darkLabel('#moc')",
      onblur: "lightLabel('#moc')"
    %>
    <div class="instrument-header" id = "range">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :range,
        'Range',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :range,
      class: 'form-input',
      placeholder: 'Enter instrument range',
      onfocus: "darkLabel('#range')",
      onblur: "lightLabel('#range')"
    %>
    <div class="instrument-header" id = "dcs">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :dcs_io_type,
        'DCS I/O Type',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :dcs_io_type,
      class: 'form-input',
      placeholder: 'Enter DCS I/O type (AI, DO...)',
      onfocus: "darkLabel('#dcs')",
      onblur: "lightLabel('#dcs')"
    %>
    <div class="instrument-header" id = "po_number">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :zeton_po,
        'Zeton PO Number',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :zeton_po,
      class: 'form-input',
      placeholder: 'Enter Zeton PO number',
      onfocus: "darkLabel('#po_number')",
      onblur: "lightLabel('#po_number')"
    %>
    <div class="instrument-header" id = "scope">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :scope,
        'Item Scope',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :scope,
      class: 'form-input',
      placeholder: 'Enter item scope (Zeton, Client...)',
      onfocus: "darkLabel('#scope')",
      onblur: "lightLabel('#scope')"
    %>
    <div class="instrument-header" id = "mech_elec">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :mech_elec,
        'Installation Scope',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :mech_elec,
      class: 'form-input',
      placeholder: 'Enter installation scope (M, M/E, E...)',
      onfocus: "darkLabel('#mech_elec')",
      onblur: "lightLabel('#mech_elec')"
    %>
    <div class="instrument-header" id = "skid_number">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :zeton_skid_number,
        'Zeton Skid Number',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :zeton_skid_number,
      class: 'form-input',
      placeholder: 'Enter Zeton skid number',
      onfocus: "darkLabel('#skid_number')",
      onblur: "lightLabel('#skid_number')"
    %>
    <div class="instrument-header" id = "skid_level">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :zeton_skid_level,
        'Zeton Skid Level',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :zeton_skid_level,
      class: 'form-input',
      placeholder: 'Enter Zeton skid level',
      onfocus: "darkLabel('#skid_level')",
      onblur: "lightLabel('#skid_level')"
    %>
    <div class="instrument-header" id = "stats">
      <div class="instrument-header-icon">
        <i class="fas fa-certificate"></i>
      </div>
      <%=
        f.label :item_type,
        'Item Count Type',
        class: 'instrument-header-text'
      %>
    </div>
    <%=
      f.text_field :item_type,
      class: 'form-input',
      placeholder: 'Enter count type (ITUBE, IWELD...)',
      onfocus: "darkLabel('#stats')",
      onblur: "lightLabel('#stats')"
    %>
    <%=
      f.submit @instrument.new_record? ? 'Add Instrument' : 'Update Instrument',
      class: 'form-submit-button'
    %>
  </div>
<% end %>
