<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'type-code',
    icon: '<i class="fas fa-bullseye"></i>',
    headerText: 'Type',
    record: @instrument,
    attribute: 'type_code',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'loop',
    icon: '<i class="fas fa-hashtag"></i>',
    headerText: 'Loop',
    record: @instrument,
    attribute: 'loop',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'vendor',
    icon: '<i class="fas fa-dollar-sign"></i>',
    headerText: 'Vendor',
    record: @instrument,
    attribute: 'supplier',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'manufacturer',
    icon: '<i class="far fa-building"></i>',
    headerText: 'Manufacturer',
    record: @instrument,
    attribute: 'manufacturer',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'model',
    icon: '<i class="fas fa-hashtag"></i>',
    headerText: 'Model Number',
    record: @instrument,
    attribute: 'model',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'connection',
    icon: '<i class="fas fa-wrench"></i>',
    headerText: 'Process Connection',
    record: @instrument,
    attribute: 'process_connection',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'moc',
    icon: '<i class="fas fa-certificate"></i>',
    headerText: 'Material of Construction',
    record: @instrument,
    attribute: 'material_of_construction',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'range',
    icon: '<i class="fas fa-sliders-h"></i>',
    headerText: 'Range',
    record: @instrument,
    attribute: 'range',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'dcs',
    icon: '<i class="fas fa-code"></i>',
    headerText: 'DCS I/O Type',
    record: @instrument,
    attribute: 'dcs_io_type',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'po-number',
    icon: '<i class="fas fa-shopping-cart"></i>',
    headerText: 'PO Number',
    record: @instrument,
    attribute: 'zeton_po',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'scope',
    icon: '<i class="far fa-hand-point-right"></i>',
    headerText: 'Item Scope',
    record: @instrument,
    attribute: 'scope',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'mech-elec',
    icon: '<i class="fas fa-list-ul"></i>',
    headerText: 'Installation Scope',
    record: @instrument,
    attribute: 'mech_elec',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'skid-number',
    icon: '<i class="fas fa-bullseye"></i>',
    headerText: 'Skid Number',
    record: @instrument,
    attribute: 'zeton_skid_number',
    customForm: 'no'
  }
%>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'skid-level',
    icon: '<i class="fas fa-bullseye"></i>',
    headerText: 'Skid Level',
    record: @instrument,
    attribute: 'zeton_skid_level',
    customForm: 'no'
  }
%>
<div class="item-header">
  <div class="item-header-icon">
    <i class="fas fa-map-pin"></i>
  </div>
  <div class="item-header-text">
    Installation Location
  </div>
</div>
<div class="instrument-specific">
  Update model to include
</div>
<%=
  render partial: 'shared/item_property',
  locals: {
    id: 'statistics',
    icon: '<i class="fas fa-signal"></i>',
    headerText: 'Statistics Count',
    record: @instrument,
    attribute: 'item_type',
    customForm: 'no'
  }
%>
