<div class="main">
  <h6 class="mt-3 mb-4 text-muted">
    <%= @instrument.tag %><br />
    <small>
      <%= link_to 'Edit Instrument', edit_instrument_path(@instrument) %><br />
      <%= link_to 'Back to Instrument List', project_instruments_path, id: 'back_to_instrument_list' %>
    </small>
  </h6>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Metrics<br />
            <small class="text-muted">Click below to update</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="float-sm-left">Datasheet Submitted</span>
            <span class="align-middle float-sm-right">
              <div id="datasheet_submitted_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'datasheet_submitted_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Datasheet Approved</span>
            <span class="float-sm-right">
              <div id="datasheet_approved_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'datasheet_approved_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">RFQ Sent</span>
            <span class="float-sm-right">
              <div id="rfq_sent_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'rfq_sent_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">PO Placed</span>
            <span class="float-sm-right">
              <div id="po_placed_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'po_placed_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Item Received</span>
            <span class="float-sm-right">
              <div id="item_received_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'item_received_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Item Released</span>
            <span class="float-sm-right">
              <div id="item_released_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'item_released_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Mounted by Mechanical</span>
            <span class="float-sm-right">
              <div id='mounted_status_instrument_<%= @instrument.id %>'>
                <%= render partial: 'mounted_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Plumbed by Mechanical</span>
            <span class="float-sm-right">
              <div id="plumbed_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'plumbed_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Cable Pulled</span>
            <span class="float-sm-right">
              <div id="cable_pulled_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'cable_pulled_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Terminated at Source</span>
            <span class="float-sm-right">
              <div id="cable_terminated_at_source_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'cable_terminated_at_source_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Terminated at Dest.</span>
            <span class="float-sm-right">
              <div id="cable_terminated_at_dest_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'cable_terminated_at_dest_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Continuity Tested</span>
            <span class="float-sm-right">
              <div id="continuity_tested_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'continuity_tested_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Grounded by Electrical</span>
            <span class="float-sm-right">
              <div id="grounded_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'grounded_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
          <li class="list-group-item">
            <span class="float-sm-left">Checked by Engineering</span>
            <span class="float-sm-right">
              <div id="eng_check_status_instrument_<%= @instrument.id %>">
                <%= render partial: 'eng_check_status', locals: {instrument: @instrument} %>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instrument Data</h5>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-group ml-3 border-0">
              <li class="list-group-item border-0">
                <b>Type:</b> <%= @instrument.type_code %>
              </li>
              <li class="list-group-item border-0">
                <b>Skid Number:</b> <%= @instrument.zeton_skid_number %>
              </li>
              <li class="list-group-item border-0">
                <b>Scope:</b> <%= @instrument.scope %>
              </li>
              <li class="list-group-item border-0">
                <b>Supplier:</b> <%= @instrument.supplier %>
              </li>
              <li class="list-group-item border-0">
                <b>Model Number:</b> <%= @instrument.model %>
              </li>
              <li class="list-group-item border-0">
                <b>Material of Construction:</b> <%= @instrument.model %>
              </li>
              <li class="list-group-item border-0">
                <b>Installation Location:</b> <%= @instrument.location %>
              </li>
              <li class="list-group-item border-0">
                <b>DCS I/O Type:</b> <%= @instrument.dcs_io_type %>
              </li>
              <li class="list-group-item border-0">
                <b>Tracking Number:</b> <%= @instrument.tracking_number %>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-group mr-3">
              <li class="list-group-item border-0">
                <b>Loop:</b> <%= @instrument.loop %>
              </li>
              <li class="list-group-item border-0">
                <b>Skid Level:</b> <%= @instrument.zeton_skid_level %>
              </li>
              <li class="list-group-item border-0">
                <b>M, M/E, E:</b> <%= @instrument.mech_elec %>
              </li>
              <li class="list-group-item border-0">
                <b>Manufacturer:</b> <%= @instrument.manufacturer %>
              </li>
              <li class="list-group-item border-0">
                <b>Process Connection:</b> <%= @instrument.process_connection %>
              </li>
              <li class="list-group-item border-0">
                <b>Item Type:</b> <%= @instrument.item_type %>
              </li>
              <li class="list-group-item border-0">
                <b>Instrument Range:</b> <%= @instrument.range %>
              </li>
              <li class="list-group-item border-0">
                <b>Zeton PO Number:</b> <%= @instrument.zeton_po %>
              </li>
              <li class="list-group-item border-0">
                <b>Receiving Info:</b> <%= @instrument.receiving_info %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">
            Related RFI's
          </h5>
          <p class="card-text">
            Will list related RFI's here
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
