<div class="main">
  <h6 class="mt-3 mb-4 text-muted">
    <%= @instrument.tag %><br />
    <small>
      <%= link_to 'Edit Instrument', edit_instrument_path(@instrument), id: "edit_instrument_#{@instrument.id}" %><br />
      <%= link_to 'Delete Instrument', instrument_path(@instrument), method: :delete, id: "delete_instrument_#{@instrument.id}" %><br />
      <%= link_to 'Back to Instrument List', project_instruments_path, id: 'back_to_instrument_list' %>
    </small>
  </h6>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Metrics<br />
            <small class="text-muted">Click below to update</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <% @instrument.attributes.each do |name, value| %>
            <% if Instrument.metrics_attributes.include?(name) %>
              <li class="list-group-item">
                <span class="float-sm-left"><%= name.humanize %></span>
                <span class="align-middle float-sm-right">
                  <div id="<%= name %>_status_instrument_<%= @instrument.id %>">
                    <%=
                      render partial: 'shared/metric_status',
                        locals: {
                        record: @instrument,
                        attribute: name,
                        value: value
                      }
                    %>
                  </div>
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instrument Data</h5>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-group ml-3 border-0">
              <li class="list-group-item border-0">
                <b>Type:</b> <%= @instrument.type_code %>
              </li>
              <li class="list-group-item border-0">
                <b>Skid Number:</b> <%= @instrument.zeton_skid_number %>
              </li>
              <li class="list-group-item border-0">
                <b>Scope:</b> <%= @instrument.scope %>
              </li>
              <li class="list-group-item border-0">
                <b>Supplier:</b> <%= @instrument.supplier %>
              </li>
              <li class="list-group-item border-0">
                <b>Model Number:</b> <%= @instrument.model %>
              </li>
              <li class="list-group-item border-0">
                <b>Material of Construction:</b> <%= @instrument.model %>
              </li>
              <li class="list-group-item border-0">
                <b>Installation Location:</b> <%= @instrument.location %>
              </li>
              <li class="list-group-item border-0">
                <b>DCS I/O Type:</b> <%= @instrument.dcs_io_type %>
              </li>
              <li class="list-group-item border-0">
                <b>Tracking Number:</b> <%= @instrument.tracking_number %>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-group mr-3">
              <li class="list-group-item border-0">
                <b>Loop:</b> <%= @instrument.loop %>
              </li>
              <li class="list-group-item border-0">
                <b>Skid Level:</b> <%= @instrument.zeton_skid_level %>
              </li>
              <li class="list-group-item border-0">
                <b>M, M/E, E:</b> <%= @instrument.mech_elec %>
              </li>
              <li class="list-group-item border-0">
                <b>Manufacturer:</b> <%= @instrument.manufacturer %>
              </li>
              <li class="list-group-item border-0">
                <b>Process Connection:</b> <%= @instrument.process_connection %>
              </li>
              <li class="list-group-item border-0">
                <b>Item Type:</b> <%= @instrument.item_type %>
              </li>
              <li class="list-group-item border-0">
                <b>Instrument Range:</b> <%= @instrument.range %>
              </li>
              <li class="list-group-item border-0">
                <b>Zeton PO Number:</b> <%= @instrument.zeton_po %>
              </li>
              <li class="list-group-item border-0">
                <b>Receiving Info:</b> <%= @instrument.receiving_info %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">
            Related RFI's
          </h5>
          <% if @instrument.information_requests.any? %>
            <table>
              <thead>
                <th>Number</th>
                <th>Zeton Clarification</th>
                <th>Responses</th>
              </thead>
              <tbody>
                <% @instrument.information_requests.each do |rfi| %>
                  <tr class="mb-3">
                    <td><%= link_to rfi.rfi_number, information_request_path(rfi) %></td>
                    <td><%= rfi.zeton_clarification %></td>
                    <td><%= link_to rfi.rfi_responses.count, information_request_path(rfi) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            No related RFIs
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
