<!DOCTYPE html>
<html>
  <head>
    <title>Zeton Project Tools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application',
      media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <%= favicon_link_tag %>
  </head>

  <body>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div class="alert alert-<%= key %>" id="flash_<%= key %>" role="alert">
          <%= value %>
        </div>
      <% end %>
    </div>

    <div class="container">
      <%= render 'layouts/sidebar' %>
      <div class="main">
        <%= yield %>
      </div>
    </div>
    <script>
      $('#filter-toggle-link').click(function() {
        if ($('#filters').hasClass('filters-close')) {
          $('#filters').removeClass('filters-close');
        } else {
          $('#filters').addClass('filters-close');
        }
      });

      function toggleDropdown(list, arrow, height) {
        const ddList = document.querySelector(list);
        const listItems = ddList.querySelectorAll('.list-item');
        const newArrow = document.querySelector(arrow);
        dropdownStatus(listItems, height, newArrow)
      }

      function dropdownStatus(listItems, height, newArrow) {
        listItems.forEach((e) => {
          if (e.classList.contains('hide')) {
            e.classList.remove('hide');
            document.documentElement.style.setProperty(height, '27px');
            newArrow.innerHTML = '<i class="fa fa-caret-down"></i>';
          } else {
            e.classList.add('hide');
            document.documentElement.style.setProperty(height, '0px');
            newArrow.innerHTML = '<i class="fa fa-caret-right"></i>';
          }
        });
      }

      function showPopup(e) {
        const popup = document.querySelector(e);
        popup.classList.contains('hide') ? popup.classList.remove('hide') : popup.classList.add('hide');

      }

      function showDocumentData(e, divid) {
        const left = e.clientX + 'px';
        const top = e.clientY + 'px';

        const div = document.querySelector(divid);

        div.style.left = left;
        div.style.top = top;

        showPopup(divid);
      }

      function darkLabel(divid) {
        const div = document.querySelector(divid);

        div.style.color = '#424241';
      }
      function lightLabel(divid) {
        const div = document.querySelector(divid);

        div.style.color = '#a5a5a5';
      }
    </script>
  </body>
</html>
