<!DOCTYPE html>
<html>
  <head>
    <title>Zeton Project Tools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application',
      media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <%= favicon_link_tag %>
  </head>

  <body>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div class="alert alert-<%= key %>" id="flash_<%= key %>" role="alert">
          <%= value %>
        </div>
      <% end %>
    </div>

    <div class="container">
      <%= render 'layouts/sidebar' %>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
