<!DOCTYPE html>
<html>
  <head>
    <title>Zeton Project Tools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application',
      media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag %>
  </head>

  <body>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div class="alert alert-<%= key %>" id="flash_<%= key %>" role="alert">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= render 'layouts/sidebar' %>


    <div class="main-body">
      <%= yield %>
    </div>
    <script>
      $('#filter-toggle-link').click(function() {
        if ($('#filters').hasClass('filters-close')) {
          $('#filters').removeClass('filters-close');
        } else {
          $('#filters').addClass('filters-close');
        }
      });
    </script>
  </body>
</html>
